.item{
    border: 1px solid #E2E2E2;
    border-radius: 7px;
    padding: 5px 5px;
    width:250px;
    height: 370px;
    background-color: #fffafa;
    display: flex;
    /* align-items:; */
    flex-direction: column;
    justify-content: flex-start;
}

.media{
    display: flex;
    flex-direction : row;
    justify-content: space-around;
    
    
}

@media screen and (max-width: 600px){
    .media{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }

    .item{
        width: 200px;
        height: 330px;
        margin: 10px;
        
    }
}

figcaption{
    font-family: monospace;
    font-size: 16px;
    /* font-weight: 600;  */
}

#notion{
    height: 35px;
    width: 35px;
    padding-bottom: 10px;
    margin-top: 10px;
}